
.keys {
    margin: 0 auto;
    background-color: #b3b6bb;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.4rem;
    // height: 20rem;
    // width: 30rem;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }
  
  .key {  
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07s ease;
    width: 132px;
    height: 132px;
    text-align: center;
    color: #AF5339;
    background-color: #9a9a9c;
    text-shadow: 1px 1px black;
    box-shadow: 3px 3px black;
    border: 1px solid black;

p{
  font-size: .7rem;
}

  }

  .create_key{
    width: 200px;
    height: 200px;
  }
  
  .playing {
    transform: translate(3px, 3px);
    border-color: #ffc80080;
    box-shadow: none;
  }
  
  kbd {
    text-align: left;
    display: block;
    font-size: 1.2rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ffc600;
  }